        <hr>
        <footer>
            CST 336: Internet Programming - 2020 &copy; Szabo<br />
            <strong>Disclaimer</strong>: <em>The information in this webpage is complete nonsense and used for academic purposes only.</em>
        </footer>
        
    </body>
</html>