<!DOCTYPE html>
<html>
    <head>
        <title>Virii, trojans and worms, oh my!</title>
        <meta charset="utf-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    </head>
    
    <body>
