<%- include('partials/header.ejs') %>
    
    <body>
        <header>
            <h1>Bad Actors in the Computing Wild West</h1>
        </header>

        <hr>
        <br />
        <nav>
            <a href="/">Home</a>
            <a href="/virii">Virii</a>
            <a href="/antivirus" style="color:#1e90ff;"><strong>Anti Virus</strong></a>
            <a href="/malware">Malware</a>
        </nav>
        
        <main>
            <figure>
                <img src="/img/antivirus.jpg" alt="Combination lock on a keyboard">
                <figcaption><em>Do antivirus suites keep us safe?</em></figcaption>
            </figure>
            
            <div>
                <h3><u><strong>Antivirus to the Rescue?</strong></u></h3>
                <p>The rise of PC proliferation in the workplace and home also saw the drastic increase in the spread and danger of computer virii. The <b><a href="http://www.today-in-history.de/index.php?what=thmanu&manu_id=1388&lang=en">Michaelangelo virus</a></b> was the first to gain widespread media coverage including hyperbolic estimates by John McAfee of its impact being upwards of 5 million computers worldwide. He later claimed that he was pressed by the reporter and gave a large estimate, the high end being used in the story.</p>
                <p>While there were various resources for dealing with the nascent threat of computer virii before this time, including AntiVir and F-Prot, Symantec Antivirus was the first big name of the modern era, released in 1990. Norton Antivirus followed in 1991. Many of the modern resources that still exist such as AV-TEST, Bitdefender, Kaspersky, etc come from this timeframe.</p>
                <p>Macro virii, where damaging code is embedded primarily in Microsoft Word and Excel macros, date to mid 90s. The antivirus products of the day ended up in an arms race against a panoply of threats, including traditional virii, macros and even ones that targeted email systems (notably Outlook).</p>
                <p>During the 2000s, virii became background noise to an extent... a cost of doing business and "easily" foiled by an antivirus package. Many of the commercial options during that timeframe became known as "resource hogs".</p>
            </div>
        </main>

<%- include('partials/footer.ejs') %>