<%- include('partials/header.ejs') %>

        <header>
            <h1>Bad Actors in the Computing Wild West</h1>
        </header>

        <hr>
        <br />
        <nav>
            <a href="/" style="color:#1e90ff;"><strong>Home</strong></a>
            <a href="/virii">Virii</a>
            <a href="/antivirus">Anti Virus</a>
            <a href="/malware">Malware</a>
        </nav>
        
        <main>
            <figure>
                <img src="/img/hacker.jpg" alt="Real bad guy or Hollywood boogeyman?">
                <figcaption><em>The nefarious hacker, <%- fakeHacker %></em></figcaption>
            </figure>
            
            <div>
                <h3><u><strong>Virii Throughout the Ages</strong></u></h3>
                <p>The theory of bad faith computer code is nearly as old as the modern computer, exemplified by John von Neumann's essay, <b><a href="https://embryo.asu.edu/pages/john-von-neumanns-cellular-automata">Theory of Self-Reproducing Automata (1966)</a></b>.</p>
                <p>Another very early example of the concept was visualized by astophysicist and fiction author Gregory Benford in his novel <b><a href="http://www.technovelgy.com/ct/content.asp?Bnum=2402">The Scarred Man (1970)</a></b></p>
                <p>Even during the early age of the ARPANET, Bob Thomas (researcher at BBN Technologies) created a self-replicating program called <b><a href="https://corewar.co.uk/creeper.htm">Creeper</a></b>, which was intended to infect DEC PDP-10 computers. Thankfully it was a proof of concept only intended to push the message "I'm the creeper, catch me if you can!" Ray Tomlinson later created a cleanup program called Reaper to remove it, though it is still technically a self-replicating worm as with Creeper.</p>
            </div>
        </main>

<%- include('partials/footer.ejs') %>